.characterEditor {
  padding-top: 128px;
  padding-bottom: 64px;
}

.maxWidthWrapper {
  /* Default positioning is static. 
  The browser first renders all static elements, then the dynamic ones, 
  including our fixed perspective-box and the character. 
  So, we also need to give the maxWidhtWrappah a dynamic positioning to solve the
  z-positioning without setting any z-indexes by using rendering order*/
  position: relative;
}

.header {
  padding-bottom: 64px;
  max-width: 65%;
}

@media only screen and (max-width: 600px) {
  .header {
    max-width: 100%;
  }
}

.title {
  font-size: 2.5rem;
  font-weight: 600;
  margin-top: 0;
  margin-bottom: 16px;
  letter-spacing: -0.5px;
}

.description {
  font-size: 1.25rem;
  margin: 0;
}

.characterWrapper {
  position: fixed;
  top: 5%;
  left: 60%;
  bottom: 5%;
  min-height: 500px;
  /* right: 0px; */
}
@media only screen and (max-width: 600px) {
  .characterWrapper {
    height: 500px;
    width: auto;
    position: sticky;
    left: 20px;
    top: 20px;
    /* top: 50px;
    right: 50px; */
    /* display: block; */

  }

}

.controlColumn {
  max-width: 50%;
}

@media only screen and (max-width: 600px) {
  .controlColumn {
    max-width: 100%;
    max-height: 200px;
    white-space: nowrap;
    overflow-x: auto;
  }
}

.perspectiveBackground {
  background-color: hsl(195deg, 20%, 86%);
  height: 40%;
  /* By default, fixed element takes up ZERO width! */
  width: 100%;
  position: fixed;
  bottom: -1px;
}
